In [1]:
import pandas as pd
import numpy as np
import glob as gb

In [2]:
system_flist = gb.glob('../../1. 후원금사복시스템결의서 2009-2018년/*.xlsx')
account_flist = gb.glob('../../2. 후원금 통장거래내역 2009년-2017년/*.xls')
print(f'{len(system_flist)}, {len(account_flist)}')


idx = -6
print(system_flist[idx])
print(account_flist[idx])

9, 9
../../1. 후원금사복시스템결의서 2009-2018년\2012년후원금사복시스템결의서.xlsx
../../2. 후원금 통장거래내역 2009년-2017년\입출금거래내역 결과2012년1월~12월.xls

In [3]:
# 1. preprocessing report statement xlsx
system_df = pd.read_excel(system_flist[idx])[['결의일자-번호','수입금액','지출금액']].iloc[ :-1]
system_df['결의일자'] = [ string[:-2] for string in system_df['결의일자-번호'] ]
system_df = system_df.drop('결의일자-번호', axis=1)
system_df = system_df.set_index('결의일자')
system_df.index = pd.to_datetime(system_df.index).date
system_df = system_df.sort_index()

print(system_df.shape)
system_df.tail()

(74, 2)

              수입금액     지출금액
2012-12-07  889210        0
2012-12-17       0  1164566
2012-12-23     220        0
2012-12-24   10000        0
2012-12-28  200000        0

In [4]:
# 2. preprocessing account xls
account_df = pd.read_excel(account_flist[idx], skiprows = 9)[['거래일자','입금금액(원)','출금금액(원)']]
account_df = account_df.set_index('거래일자').fillna(0).astype(int)
account_df.index = pd.to_datetime(account_df.index).date

print(account_df.shape)
account_df.tail()

(196, 2)

            입금금액(원)  출금금액(원)
2012-12-26        0     5400
2012-12-28        0    30000
2012-12-28   200000        0
2012-12-31        0     5899
2012-12-31        0   200500

In [5]:
# 3. comparing total amount of income & spending
print('<<<<<<< 전표 점검을 시작합니다 >>>>>>>\n')

print('1. 수입/지출 총액 비교\n')

system_income = sum(system_df.수입금액)
account_income = sum(account_df["입금금액(원)"])
print(f'(1) 결의서전표 수입총액 : { system_income }원, 통장거래내역 입금총액 : { account_income }원')
print('>>> 수입총액은 정상입니다.\n') if system_income == account_income \
        else print(f'>>> 경고!!! 수입총액이 다릅니다! (차액 {system_income - account_income} 원) \n')

system_spending = sum(system_df.지출금액)
account_spending = sum(account_df['출금금액(원)'])
print(f'(2) 결의서전표 지출총액 : { system_spending }원, 통장거래내역 출금총액 : { account_spending }원')
print('>>> 지출총액은 정상입니다.\n') if system_spending == account_spending \
        else print(f'>>> 경고!!! 지출총액이 다릅니다! (차액 {system_spending - account_spending} 원) \n')

print('='*70, end='\n'*2)

<<<<<<< 전표 점검을 시작합니다 >>>>>>>

1. 수입/지출 총액 비교

(1) 결의서전표 수입총액 : 6868051원, 통장거래내역 입금총액 : 6209461원
>>> 경고!!! 수입총액이 다릅니다! (차액 658590 원)

(2) 결의서전표 지출총액 : 6501753원, 통장거래내역 출금총액 : 6381853원
>>> 경고!!! 지출총액이 다릅니다! (차액 119900 원)

======================================================================

In [6]:
# 4. migrating rows with same date - calcaulating total amount of each date
system_df_groupby = system_df.groupby(system_df.index)[['수입금액','지출금액']].sum()
# system_df_groupby

account_df_groupby = account_df.groupby(account_df.index)[['입금금액(원)','출금금액(원)']].sum()
# account_df_groupby

# 5. merging two df
merge_df = system_df_groupby.merge(account_df_groupby, how='outer',left_on=system_df_groupby.index, right_on=account_df_groupby.index)
merge_df = merge_df.rename(columns={'key_0':'날짜'}).set_index('날짜')
merge_df = merge_df.fillna(0).astype(int)
merge_df.head()


# 6. comparing incomes of each date
print('2. 수입결의서 날짜별 총액 비교\n')
unmatch_income = [ (idx, item1, item2) for (idx, item1, item2) 
     in zip(merge_df.index, merge_df['수입금액'], merge_df['입금금액(원)'])
     if item1 != item2 ]
unmatch_income.sort()

if not unmatch_income:
    print('>>> [수입 결의서] 정상입니다.\n')
else:
    print('>>> 경고!!! [수입 결의서] 문제가 발견되었습니다!\n')
    for idx, line in enumerate(unmatch_income):
        print(f'({idx+1}) {line[0]} 날짜 : [수입 결의서] {line[1]}원 → [통장 거래내역] {line[2]}원입니다.\n')
        pass
    pass

print('='*70, end='\n'*2)

# 7. comparing spendings of each date
print('3. 지출결의서 날짜별 총액 비교\n')
unmatch_cost = [ (idx, item1, item2) for (idx, item1, item2) 
     in zip(merge_df.index, merge_df['지출금액'], merge_df['출금금액(원)'])
     if item1 != item2 ]
unmatch_cost.sort()

if not unmatch_cost:
    print('>>> [지출 결의서] 정상입니다.\n')
else:
    print('>>> 경고!!! [지출 결의서] 문제가 발견되었습니다!\n')
    for idx, line in enumerate(unmatch_cost):
        print(f'({idx+1}) [지출 결의서] {line[0]} 날짜에 {line[1]}원으로 입력된 부분은 통장 거래내역에 {line[2]}원입니다.\n')
        pass
    pass

print('='*70, end='\n'*2)

2. 수입결의서 날짜별 총액 비교

>>> 경고!!! [수입 결의서] 문제가 발견되었습니다!

(1) 2012-01-12 날짜 : [수입 결의서] 0원 → [통장 거래내역] 30000원입니다.

(2) 2012-07-03 날짜 : [수입 결의서] 60000원 → [통장 거래내역] 30000원입니다.

(3) 2012-07-05 날짜 : [수입 결의서] 1317180원 → [통장 거래내역] 658590원입니다.

======================================================================

3. 지출결의서 날짜별 총액 비교

>>> 경고!!! [지출 결의서] 문제가 발견되었습니다!

(1) [지출 결의서] 2012-01-02 날짜에 477471원으로 입력된 부분은 통장 거래내역에 331671원입니다.

(2) [지출 결의서] 2012-01-05 날짜에 0원으로 입력된 부분은 통장 거래내역에 100000원입니다.

(3) [지출 결의서] 2012-01-07 날짜에 0원으로 입력된 부분은 통장 거래내역에 36000원입니다.

(4) [지출 결의서] 2012-01-13 날짜에 301690원으로 입력된 부분은 통장 거래내역에 0원입니다.

(5) [지출 결의서] 2012-01-19 날짜에 0원으로 입력된 부분은 통장 거래내역에 128000원입니다.

(6) [지출 결의서] 2012-01-28 날짜에 0원으로 입력된 부분은 통장 거래내역에 70500원입니다.

(7) [지출 결의서] 2012-02-10 날짜에 58420원으로 입력된 부분은 통장 거래내역에 5500원입니다.

(8) [지출 결의서] 2012-02-11 날짜에 0원으로 입력된 부분은 통장 거래내역에 11920원입니다.

(9) [지출 결의서] 2012-02-27 날짜에 0원으로 입력된 부분은 통장 거래내역에 17000원입니다.

(10) [지출 결의서] 2012-02-29 날짜에 0원으로 입력된 부분은 통장 거래내역에 24000원입니다.

(11) [지출 결의서] 2012-03-01 날짜에 454040원으로 입력된 부분은 통장 거래내역에 65000원입니다.

(12) [지출 결의서] 2012-03-03 날짜에 0원으로 입력된 부분은 통장 거래내역에 32400원입니다.

(13) [지출 결의서] 2012-03-07 날짜에 0원으로 입력된 부분은 통장 거래내역에 22000원입니다.

(14) [지출 결의서] 2012-03-08 날짜에 0원으로 입력된 부분은 통장 거래내역에 26600원입니다.

(15) [지출 결의서] 2012-03-09 날짜에 0원으로 입력된 부분은 통장 거래내역에 61600원입니다.

(16) [지출 결의서] 2012-03-15 날짜에 0원으로 입력된 부분은 통장 거래내역에 1860원입니다.

(17) [지출 결의서] 2012-03-16 날짜에 0원으로 입력된 부분은 통장 거래내역에 150000원입니다.

(18) [지출 결의서] 2012-03-22 날짜에 0원으로 입력된 부분은 통장 거래내역에 18500원입니다.

(19) [지출 결의서] 2012-03-29 날짜에 0원으로 입력된 부분은 통장 거래내역에 40500원입니다.

(20) [지출 결의서] 2012-03-30 날짜에 0원으로 입력된 부분은 통장 거래내역에 19500원입니다.

(21) [지출 결의서] 2012-03-31 날짜에 0원으로 입력된 부분은 통장 거래내역에 16080원입니다.

(22) [지출 결의서] 2012-04-02 날짜에 880610원으로 입력된 부분은 통장 거래내역에 50000원입니다.

(23) [지출 결의서] 2012-04-06 날짜에 0원으로 입력된 부분은 통장 거래내역에 7600원입니다.

(24) [지출 결의서] 2012-04-09 날짜에 0원으로 입력된 부분은 통장 거래내역에 14500원입니다.

(25) [지출 결의서] 2012-04-13 날짜에 0원으로 입력된 부분은 통장 거래내역에 300500원입니다.

(26) [지출 결의서] 2012-04-15 날짜에 0원으로 입력된 부분은 통장 거래내역에 20000원입니다.

(27) [지출 결의서] 2012-04-16 날짜에 0원으로 입력된 부분은 통장 거래내역에 51500원입니다.

(28) [지출 결의서] 2012-04-17 날짜에 0원으로 입력된 부분은 통장 거래내역에 384000원입니다.

(29) [지출 결의서] 2012-04-25 날짜에 0원으로 입력된 부분은 통장 거래내역에 5000원입니다.

(30) [지출 결의서] 2012-04-28 날짜에 0원으로 입력된 부분은 통장 거래내역에 20000원입니다.

(31) [지출 결의서] 2012-04-30 날짜에 0원으로 입력된 부분은 통장 거래내역에 20000원입니다.

(32) [지출 결의서] 2012-05-01 날짜에 750304원으로 입력된 부분은 통장 거래내역에 130000원입니다.

(33) [지출 결의서] 2012-05-02 날짜에 0원으로 입력된 부분은 통장 거래내역에 5200원입니다.

(34) [지출 결의서] 2012-05-03 날짜에 0원으로 입력된 부분은 통장 거래내역에 18000원입니다.

(35) [지출 결의서] 2012-05-04 날짜에 0원으로 입력된 부분은 통장 거래내역에 198420원입니다.

(36) [지출 결의서] 2012-05-07 날짜에 0원으로 입력된 부분은 통장 거래내역에 11000원입니다.

(37) [지출 결의서] 2012-05-11 날짜에 0원으로 입력된 부분은 통장 거래내역에 49500원입니다.

(38) [지출 결의서] 2012-05-21 날짜에 0원으로 입력된 부분은 통장 거래내역에 80900원입니다.

(39) [지출 결의서] 2012-05-23 날짜에 0원으로 입력된 부분은 통장 거래내역에 8000원입니다.

(40) [지출 결의서] 2012-05-25 날짜에 0원으로 입력된 부분은 통장 거래내역에 47784원입니다.

(41) [지출 결의서] 2012-05-28 날짜에 0원으로 입력된 부분은 통장 거래내역에 119000원입니다.

(42) [지출 결의서] 2012-05-31 날짜에 0원으로 입력된 부분은 통장 거래내역에 82500원입니다.

(43) [지출 결의서] 2012-06-04 날짜에 926238원으로 입력된 부분은 통장 거래내역에 50000원입니다.

(44) [지출 결의서] 2012-06-08 날짜에 0원으로 입력된 부분은 통장 거래내역에 46000원입니다.

(45) [지출 결의서] 2012-06-14 날짜에 0원으로 입력된 부분은 통장 거래내역에 201100원입니다.

(46) [지출 결의서] 2012-06-21 날짜에 0원으로 입력된 부분은 통장 거래내역에 380043원입니다.

(47) [지출 결의서] 2012-06-22 날짜에 0원으로 입력된 부분은 통장 거래내역에 33900원입니다.

(48) [지출 결의서] 2012-06-23 날짜에 0원으로 입력된 부분은 통장 거래내역에 80000원입니다.

(49) [지출 결의서] 2012-06-24 날짜에 0원으로 입력된 부분은 통장 거래내역에 40원입니다.

(50) [지출 결의서] 2012-06-25 날짜에 0원으로 입력된 부분은 통장 거래내역에 40139원입니다.

(51) [지출 결의서] 2012-06-26 날짜에 0원으로 입력된 부분은 통장 거래내역에 30000원입니다.

(52) [지출 결의서] 2012-06-27 날짜에 0원으로 입력된 부분은 통장 거래내역에 14500원입니다.

(53) [지출 결의서] 2012-06-28 날짜에 0원으로 입력된 부분은 통장 거래내역에 51116원입니다.

(54) [지출 결의서] 2012-07-02 날짜에 283800원으로 입력된 부분은 통장 거래내역에 3000원입니다.

(55) [지출 결의서] 2012-07-03 날짜에 0원으로 입력된 부분은 통장 거래내역에 2100원입니다.

(56) [지출 결의서] 2012-07-04 날짜에 0원으로 입력된 부분은 통장 거래내역에 130000원입니다.

(57) [지출 결의서] 2012-07-10 날짜에 0원으로 입력된 부분은 통장 거래내역에 3500원입니다.

(58) [지출 결의서] 2012-07-12 날짜에 0원으로 입력된 부분은 통장 거래내역에 92000원입니다.

(59) [지출 결의서] 2012-07-13 날짜에 0원으로 입력된 부분은 통장 거래내역에 30000원입니다.

(60) [지출 결의서] 2012-07-25 날짜에 0원으로 입력된 부분은 통장 거래내역에 16000원입니다.

(61) [지출 결의서] 2012-07-26 날짜에 0원으로 입력된 부분은 통장 거래내역에 7200원입니다.

(62) [지출 결의서] 2012-08-01 날짜에 533625원으로 입력된 부분은 통장 거래내역에 45800원입니다.

(63) [지출 결의서] 2012-08-03 날짜에 0원으로 입력된 부분은 통장 거래내역에 60000원입니다.

(64) [지출 결의서] 2012-08-06 날짜에 0원으로 입력된 부분은 통장 거래내역에 20000원입니다.

(65) [지출 결의서] 2012-08-07 날짜에 0원으로 입력된 부분은 통장 거래내역에 25000원입니다.

(66) [지출 결의서] 2012-08-08 날짜에 0원으로 입력된 부분은 통장 거래내역에 5800원입니다.

(67) [지출 결의서] 2012-08-09 날짜에 0원으로 입력된 부분은 통장 거래내역에 55500원입니다.

(68) [지출 결의서] 2012-08-13 날짜에 0원으로 입력된 부분은 통장 거래내역에 50000원입니다.

(69) [지출 결의서] 2012-08-16 날짜에 0원으로 입력된 부분은 통장 거래내역에 45980원입니다.

(70) [지출 결의서] 2012-08-18 날짜에 0원으로 입력된 부분은 통장 거래내역에 39045원입니다.

(71) [지출 결의서] 2012-08-22 날짜에 0원으로 입력된 부분은 통장 거래내역에 30000원입니다.

(72) [지출 결의서] 2012-08-25 날짜에 0원으로 입력된 부분은 통장 거래내역에 25000원입니다.

(73) [지출 결의서] 2012-08-26 날짜에 0원으로 입력된 부분은 통장 거래내역에 13500원입니다.

(74) [지출 결의서] 2012-08-28 날짜에 0원으로 입력된 부분은 통장 거래내역에 18000원입니다.

(75) [지출 결의서] 2012-08-30 날짜에 0원으로 입력된 부분은 통장 거래내역에 100000원입니다.

(76) [지출 결의서] 2012-09-02 날짜에 270989원으로 입력된 부분은 통장 거래내역에 16800원입니다.

(77) [지출 결의서] 2012-09-14 날짜에 0원으로 입력된 부분은 통장 거래내역에 41103원입니다.

(78) [지출 결의서] 2012-09-17 날짜에 0원으로 입력된 부분은 통장 거래내역에 40000원입니다.

(79) [지출 결의서] 2012-09-20 날짜에 0원으로 입력된 부분은 통장 거래내역에 140000원입니다.

(80) [지출 결의서] 2012-09-28 날짜에 0원으로 입력된 부분은 통장 거래내역에 33086원입니다.

(81) [지출 결의서] 2012-10-02 날짜에 100000원으로 입력된 부분은 통장 거래내역에 30000원입니다.

(82) [지출 결의서] 2012-10-15 날짜에 0원으로 입력된 부분은 통장 거래내역에 40000원입니다.

(83) [지출 결의서] 2012-10-16 날짜에 0원으로 입력된 부분은 통장 거래내역에 30000원입니다.

(84) [지출 결의서] 2012-11-08 날짜에 300000원으로 입력된 부분은 통장 거래내역에 230000원입니다.

(85) [지출 결의서] 2012-11-15 날짜에 0원으로 입력된 부분은 통장 거래내역에 40000원입니다.

(86) [지출 결의서] 2012-11-20 날짜에 0원으로 입력된 부분은 통장 거래내역에 30000원입니다.

(87) [지출 결의서] 2012-12-17 날짜에 1164566원으로 입력된 부분은 통장 거래내역에 205500원입니다.

(88) [지출 결의서] 2012-12-20 날짜에 0원으로 입력된 부분은 통장 거래내역에 30000원입니다.

(89) [지출 결의서] 2012-12-21 날짜에 0원으로 입력된 부분은 통장 거래내역에 687237원입니다.

(90) [지출 결의서] 2012-12-23 날짜에 0원으로 입력된 부분은 통장 거래내역에 30원입니다.

(91) [지출 결의서] 2012-12-26 날짜에 0원으로 입력된 부분은 통장 거래내역에 5400원입니다.

(92) [지출 결의서] 2012-12-28 날짜에 0원으로 입력된 부분은 통장 거래내역에 30000원입니다.

(93) [지출 결의서] 2012-12-31 날짜에 0원으로 입력된 부분은 통장 거래내역에 206399원입니다.

======================================================================

In [7]:
# a = unmatch_cost[11:]
# a
# a[0][1] - sum([tup[2] for tup in a])