In [1]:
import pandas as pd
import numpy as np

In [2]:
system_df = pd.read_excel('./결의서전표.xlsx')
system_df = system_df.loc[ :system_df.shape[0]-2, ['결의일자-번호','수입금액','지출금액']]
system_df['결의일자'] = [string[:-2] for string in system_df['결의일자-번호']]
system_df = system_df.loc[ : , ['결의일자','수입금액','지출금액']]

system_df = system_df.sort_values('결의일자').reset_index(drop=True)
system_df

          결의일자    수입금액    지출금액
0   2019/01/04       0   69200
1   2019/01/09       0   66000
2   2019/01/10   10000       0
3   2019/01/18       0  400000
4   2019/01/21   10000       0
5   2019/01/23   10000       0
6   2019/01/25   10000       0
7   2019/01/25   50000       0
8   2019/01/25   30000       0
9   2019/02/07       0  129000
10  2019/02/18  350000       0
11  2019/02/19       0   42300
12  2019/02/20   10000       0
13  2019/02/20       0   12000
14  2019/02/23       0   12000
15  2019/02/25   90000       0
16  2019/02/28       0   74000
17  2019/03/05       0   49000
18  2019/03/25   70000       0
19  2019/03/27  300000       0
20  2019/03/31       0   70000
21  2019/04/06       0  300000
22  2019/04/09       0  287130
23  2019/04/10   10000       0
24  2019/04/23   10000       0
25  2019/04/25  310000       0
26  2019/05/09       0   89510
27  2019/05/23   10000       0
28  2019/05/27   10000       0
29  2019/05/28  300000       0
..         ...     ...     ...
59  2019/08/26   40000       0
60  2019/08/29       0  300000
61  2019/08/29  310000       0
62  2019/09/07       0   13000
63  2019/09/23  310000       0
64  2019/09/25   10000       0
65  2019/09/26   30000       0
66  2019/09/30       0  300000
67  2019/10/22  206541       0
68  2019/10/23   10000       0
69  2019/10/25  310000       0
70  2019/10/29       0  300000
71  2019/11/04       0   30000
72  2019/11/05   10000       0
73  2019/11/08       0   40000
74  2019/11/22  300000       0
75  2019/11/25   30000       0
76  2019/11/26   30000       0
77  2019/11/27       0  400000
78  2019/11/30       0   23350
79  2019/12/05   10000       0
80  2019/12/19  300000       0
81  2019/12/19       0  300000
82  2019/12/23       0  140792
83  2019/12/23   10000       0
84  2019/12/26   40000       0
85  2019/12/28       0   49000
86  2019/12/29       0      10
87  2019/12/29     100       0
88  2019/12/31   10000       0

[89 rows x 3 columns]

In [3]:
account_df = pd.read_excel('./통장거래내역.xls', skiprows = 9)[['거래일자','출금금액(원)','입금금액(원)']]
account_df['출금금액(원)'] = account_df['출금금액(원)'].fillna(0).astype(int)
account_df['입금금액(원)'] = account_df['입금금액(원)'].fillna(0).astype(int)
account_df = account_df.sort_values('거래일자').reset_index(drop=True)
account_df

           거래일자  출금금액(원)  입금금액(원)
0    2019/01/04    60000        0
1    2019/01/04     4200        0
2    2019/01/04     5000        0
3    2019/01/09    60000        0
4    2019/01/09     6000        0
5    2019/01/18   400000        0
6    2019/01/21        0    10000
7    2019/01/23        0    10000
8    2019/01/25        0    10000
9    2019/01/25        0    50000
10   2019/01/25        0    30000
11   2019/02/07    30000        0
12   2019/02/07    99000        0
13   2019/02/18        0   350000
14   2019/02/19    42300        0
15   2019/02/20        0    10000
16   2019/02/20    12000        0
17   2019/02/23    12000        0
18   2019/02/25        0    10000
19   2019/02/25        0    30000
20   2019/02/25        0    10000
21   2019/02/25        0    50000
22   2019/02/28    54000        0
23   2019/02/28    20000        0
24   2019/03/05    49000        0
25   2019/03/25        0    10000
26   2019/03/25        0    50000
27   2019/03/25        0    10000
28   2019/03/27        0   300000
29   2019/03/31    70000        0
..          ...      ...      ...
83   2019/09/26        0    30000
84   2019/09/30   300000        0
85   2019/10/22        0   206541
86   2019/10/23        0    10000
87   2019/10/25        0   300000
88   2019/10/25        0    10000
89   2019/10/29   300000        0
90   2019/11/04    30000        0
91   2019/11/05        0    10000
92   2019/11/08    40000        0
93   2019/11/22        0   300000
94   2019/11/25        0    10000
95   2019/11/25        0    10000
96   2019/11/25        0    10000
97   2019/11/26        0    30000
98   2019/11/27   100000        0
99   2019/11/27   300000        0
100  2019/11/30    23350        0
101  2019/12/05        0    10000
102  2019/12/19        0   300000
103  2019/12/19   300000        0
104  2019/12/23        0    10000
105  2019/12/23   140792        0
106  2019/12/26        0    10000
107  2019/12/26        0    30000
108  2019/12/28    31000        0
109  2019/12/28    18000        0
110  2019/12/29        0      100
111  2019/12/29       10        0
112  2019/12/31        0    10000

[113 rows x 3 columns]

In [4]:
income_check = sum(system_df.수입금액) == sum(account_df['입금금액(원)'])
income_check

True

In [5]:
cost_check = sum(system_df.지출금액) == sum(account_df['출금금액(원)'])
cost_check

True

In [6]:
system_df_groupby = system_df.groupby('결의일자')[['수입금액','지출금액']].sum()
system_df_groupby

              수입금액    지출금액
결의일자
2019/01/04       0   69200
2019/01/09       0   66000
2019/01/10   10000       0
2019/01/18       0  400000
2019/01/21   10000       0
2019/01/23   10000       0
2019/01/25   90000       0
2019/02/07       0  129000
2019/02/18  350000       0
2019/02/19       0   42300
2019/02/20   10000   12000
2019/02/23       0   12000
2019/02/25   90000       0
2019/02/28       0   74000
2019/03/05       0   49000
2019/03/25   70000       0
2019/03/27  300000       0
2019/03/31       0   70000
2019/04/06       0  300000
2019/04/09       0  287130
2019/04/10   10000       0
2019/04/23   10000       0
2019/04/25  310000       0
2019/05/09       0   89510
2019/05/23   10000       0
2019/05/27   10000       0
2019/05/28  300000       0
2019/06/10       0   13200
2019/06/15       0   11000
2019/06/17       0  240000
...            ...     ...
2019/07/30  900000  946600
2019/08/12       0   15440
2019/08/23   10000       0
2019/08/25       0   53700
2019/08/26   40000   10000
2019/08/29  310000  300000
2019/09/07       0   13000
2019/09/23  310000       0
2019/09/25   10000       0
2019/09/26   30000       0
2019/09/30       0  300000
2019/10/22  206541       0
2019/10/23   10000       0
2019/10/25  310000       0
2019/10/29       0  300000
2019/11/04       0   30000
2019/11/05   10000       0
2019/11/08       0   40000
2019/11/22  300000       0
2019/11/25   30000       0
2019/11/26   30000       0
2019/11/27       0  400000
2019/11/30       0   23350
2019/12/05   10000       0
2019/12/19  300000  300000
2019/12/23   10000  140792
2019/12/26   40000       0
2019/12/28       0   49000
2019/12/29     100      10
2019/12/31   10000       0

[78 rows x 2 columns]

In [7]:
account_df_groupby = account_df.groupby('거래일자')[['입금금액(원)','출금금액(원)']].sum()
account_df_groupby

            입금금액(원)  출금금액(원)
거래일자
2019/01/04        0    69200
2019/01/09        0    66000
2019/01/18        0   400000
2019/01/21    10000        0
2019/01/23    10000        0
2019/01/25    90000        0
2019/02/07        0   129000
2019/02/18   350000        0
2019/02/19        0    42300
2019/02/20    10000    12000
2019/02/23        0    12000
2019/02/25   100000        0
2019/02/28        0    74000
2019/03/05        0    49000
2019/03/25    70000        0
2019/03/27   300000        0
2019/03/31        0    70000
2019/04/06        0   300000
2019/04/09        0   287130
2019/04/10    10000        0
2019/04/23    10000        0
2019/04/25   310000        0
2019/05/09        0    89510
2019/05/23    10000        0
2019/05/27    10000        0
2019/05/28   300000        0
2019/06/10        0    13200
2019/06/15        0    11000
2019/06/17        0   240000
2019/06/21   300000        0
...             ...      ...
2019/07/30   900000   946600
2019/08/12        0    15440
2019/08/23    10000        0
2019/08/25        0    53700
2019/08/26    40000    10000
2019/08/29   310000   300000
2019/09/07        0    13000
2019/09/23   310000        0
2019/09/25    10000        0
2019/09/26    30000        0
2019/09/30        0   300000
2019/10/22   206541        0
2019/10/23    10000        0
2019/10/25   310000        0
2019/10/29        0   300000
2019/11/04        0    30000
2019/11/05    10000        0
2019/11/08        0    40000
2019/11/22   300000        0
2019/11/25    30000        0
2019/11/26    30000        0
2019/11/27        0   400000
2019/11/30        0    23350
2019/12/05    10000        0
2019/12/19   300000   300000
2019/12/23    10000   140792
2019/12/26    40000        0
2019/12/28        0    49000
2019/12/29      100       10
2019/12/31    10000        0

[77 rows x 2 columns]

In [8]:
(system_df_groupby.shape, account_df_groupby.shape)

((78, 2), (77, 2))

In [9]:
[idx for idx in system_df_groupby.index if idx not in account_df_groupby.index]

['2019/01/10']

In [10]:
[idx for idx in account_df_groupby.index if idx not in system_df_groupby.index]

[]

In [11]:
[ (idx, item1, item2) for (idx, item1, item2) 
     in zip(system_df_groupby.index[3:], system_df_groupby['수입금액'][3:], account_df_groupby['입금금액(원)'][2:])
     if item1 != item2 ]

[('2019/02/25', 90000, 100000)]

## 결론 : 양쪽 총액은 맞지만, 세부내역에서 차이가 있음
1. 결의서전표 2019/01/10-3 날짜 수입 10,000 원(개인후원)은 통장 거래내역에 존재하지 않음
2. 결의서전표 2019/02/25-4 날짜 수입 90,000 원(개인후원 등)은 통장 거래내역보다 10,000 원 적음
3. 우연히 두 오류가 동시에 발생하면서, 총액 기준으로는 문제가 없어 보였던 것임

In [12]:
merge_df = system_df_groupby.merge(account_df_groupby, how='outer',left_on=system_df_groupby.index, right_on=account_df_groupby.index)
merge_df = merge_df.rename(columns={'key_0':'날짜'}).set_index('날짜')
merge_df = merge_df.fillna(0).astype(int)
merge_df

              수입금액    지출금액  입금금액(원)  출금금액(원)
날짜
2019/01/04       0   69200        0    69200
2019/01/09       0   66000        0    66000
2019/01/10   10000       0        0        0
2019/01/18       0  400000        0   400000
2019/01/21   10000       0    10000        0
2019/01/23   10000       0    10000        0
2019/01/25   90000       0    90000        0
2019/02/07       0  129000        0   129000
2019/02/18  350000       0   350000        0
2019/02/19       0   42300        0    42300
2019/02/20   10000   12000    10000    12000
2019/02/23       0   12000        0    12000
2019/02/25   90000       0   100000        0
2019/02/28       0   74000        0    74000
2019/03/05       0   49000        0    49000
2019/03/25   70000       0    70000        0
2019/03/27  300000       0   300000        0
2019/03/31       0   70000        0    70000
2019/04/06       0  300000        0   300000
2019/04/09       0  287130        0   287130
2019/04/10   10000       0    10000        0
2019/04/23   10000       0    10000        0
2019/04/25  310000       0   310000        0
2019/05/09       0   89510        0    89510
2019/05/23   10000       0    10000        0
2019/05/27   10000       0    10000        0
2019/05/28  300000       0   300000        0
2019/06/10       0   13200        0    13200
2019/06/15       0   11000        0    11000
2019/06/17       0  240000        0   240000
...            ...     ...      ...      ...
2019/07/30  900000  946600   900000   946600
2019/08/12       0   15440        0    15440
2019/08/23   10000       0    10000        0
2019/08/25       0   53700        0    53700
2019/08/26   40000   10000    40000    10000
2019/08/29  310000  300000   310000   300000
2019/09/07       0   13000        0    13000
2019/09/23  310000       0   310000        0
2019/09/25   10000       0    10000        0
2019/09/26   30000       0    30000        0
2019/09/30       0  300000        0   300000
2019/10/22  206541       0   206541        0
2019/10/23   10000       0    10000        0
2019/10/25  310000       0   310000        0
2019/10/29       0  300000        0   300000
2019/11/04       0   30000        0    30000
2019/11/05   10000       0    10000        0
2019/11/08       0   40000        0    40000
2019/11/22  300000       0   300000        0
2019/11/25   30000       0    30000        0
2019/11/26   30000       0    30000        0
2019/11/27       0  400000        0   400000
2019/11/30       0   23350        0    23350
2019/12/05   10000       0    10000        0
2019/12/19  300000  300000   300000   300000
2019/12/23   10000  140792    10000   140792
2019/12/26   40000       0    40000        0
2019/12/28       0   49000        0    49000
2019/12/29     100      10      100       10
2019/12/31   10000       0    10000        0

[78 rows x 4 columns]

In [13]:
unmatch_income = [ (idx, item1, item2) for (idx, item1, item2) 
     in zip(merge_df.index, merge_df['수입금액'], merge_df['입금금액(원)'])
     if item1 != item2 ]

if not unmatch_income:
    print('[수입 결의서] 정상입니다.')
else:
    print('====== [수입 결의서] 문제가 발견되었습니다. =====\n')
    for idx, line in enumerate(unmatch_income):
        print(f'{idx+1}. [수입 결의서] {line[0]} 날짜에 {line[1]}원으로 입력된 부분은 통장 거래내역에 {line[2]}원입니다.\n')

====== [수입 결의서] 문제가 발견되었습니다. =====

1. [수입 결의서] 2019/01/10 날짜에 10000원으로 입력된 부분은 통장 거래내역에 0원입니다.

2. [수입 결의서] 2019/02/25 날짜에 90000원으로 입력된 부분은 통장 거래내역에 100000원입니다.

In [14]:
unmatch_cost = [ (idx, item1, item2) for (idx, item1, item2) 
     in zip(merge_df.index, merge_df['지출금액'], merge_df['출금금액(원)'])
     if item1 != item2 ]

if not unmatch_cost:
    print('[지출 결의서] 정상입니다.')
else:
    print('====== [지출 결의서] 문제가 발견되었습니다. =====\n')
    for idx, line in enumerate(unmatch_cost):
        print(f'{idx+1}. [지출 결의서] {line[0]} 날짜에 {line[1]}원으로 입력된 부분은 통장 거래내역에 {line[2]}원입니다.\n')

[지출 결의서] 정상입니다.